.WhyChooseHover:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); /* Light shadow */
    background: linear-gradient(120deg, #FFECE6, #FFF9E7, #E0F7FA); /* Smooth gradient */
    transition: all 0.3s ease-in-out; /* Smooth hover effect */
    border-radius: 10px;
}

.align{
    text-align: justify;
}